{% extends "base.html" %}

{% block title %}<title>Hello, world!</title>{% endblock %}
    
{% block sitebar %}
<div class="col-md-4">
    <div class="list-group">
        {% for categ in category %}
            <a href="{{categ.get_absolute_url}}" class="list-group-item list-group-item-action">{{categ.title}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block content %}
<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn btn-success' type='submit'>Send</button>
</form>
{% endblock %}
